.action-form {
    min-width: 300px;
    padding: 25px 30px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #e0e0e0;
}

.action-form .line {
    margin-bottom: 10px;
}