.slash-command {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    height: 240px;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 5px 5px 8px #f0f0f0;
}

.slash-command .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: space-between;
}

.slash-command .item .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.slash-command .item .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 24px;
    box-sizing: border-box;
}

.slash-command .item .content .title {
    font-size: 14px;
    font-weight: 600;
}

.slash-command .item .content .description {
    font-size: 12px;
}


.slash-command .active {
    background-color: aqua;
}

.slash-command::-webkit-scrollbar {
    display: none;
}